<h1>Calculadora</h1>

<div>
  <table style="width:50%">
    <tr>
      <th colspan="2">
        <div>{{advertencia}}</div>
      </th>
    </tr>
  </table>
</div>


<table style="width:50%">
  <tr>
    <td>Números</td>
    <td>Operaciones</td>
  </tr>
  <tr>
    <td>
      <div>
        <input type="number" [(ngModel)]="operador1">
      </div>
    </td>
    <td><button type="button" (click)="operar('+')">mas</button></td>
  </tr>
  <tr>
    <td>
      <div>
        <input type="number" [(ngModel)]="operador2">
      </div>
    </td>
    <td><button type="button" (click)="operar('-')">menos</button></td>
  </tr>
  <tr>
    <td>Resultado</td>
    <td><button type="button" (click)="operar('*')">por</button></td>
  </tr>
  <tr>
    <td>
      <div>{{resultado}}</div>
    </td>
    <td><button type="button" (click)="operar('/')">entre</button></td>
  </tr>
</table>